cv/mmontoya_full_stack_developer.aux
cv/mmontoya_full_stack_developer.log
cv/mmontoya_full_stack_developer.out
cv/mmontoya_full_stack_developer.pdf
texput.log
emacs/elpa
emacs/recentf
emacs/transient/history.el
emacs/org-clock-save.el
emacs/eshell/history
emacs/org-clock-save.el
emacs/snippets/clojure-mode/log
emacs/transient/history.el
emacs/.lsp-session-v1
emacs/bookmarks
emacs/ede-projects.el
emacs/eshell/lastdir
emacs/recentf~
emacs/eshell/*
emacs/auto-save-list/
emacs/autosave/
emacs/.mc-lists.el
emacs/request/
emacs/amx-items
emacs/flycheck_init.el
emacs/snippets/ruby-mode/IO
emacs/org-clock-save.el
emacs/transient/history.el
emacs/session*